
.level_up {
    width: 545px;
    height: 500px;
    position: relative;
    left: 65%;
    bottom: 40%;
    display: flex;
    flex-direction: row;
}

.upgrades {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.upgrades_item {
    width: 100%;
    height: 30%;
    background-color: gray;
    flex-direction: row;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    border-style: solid;
    border-width: 5px;
    border-color: gold;
    box-shadow: 0 0 100px rgba(255, 215, 0, 0.7);
    padding-left: 10px;
}

.upgrade_text {
    width: 70%;
    font-size: 19px;
    color: white;
    font-weight: 650;
}

.upgrade_button {
    width: 8rem;
    height: 2.4rem;
    text-align: center;
    font-size: 15px;
    margin-right: 8px;
    background-color: rgb(23, 153, 23);
    color: white;
    border-radius: 5px;
    border-color: rgb(45, 208, 45);
}

.upgrade_button:active {
    width: 7.5rem;
    height: 2rem;
}

.upgrade_button:hover {
    background-color: rgb(45, 208, 45);
}

.upgrade_image {
    width: 110px;
    height: 70px;
    position: absolute;
    left: 45%;
    bottom: 90%;
    background-color: rgb(180, 39, 39);
    border-radius: 130%;
}

@media (max-width: 1813px) {
    .upgrades_item {
        margin-right: 35px;
    }
}
    
@media (max-width: 1695px) {
    .upgrades_item {
        margin-right: 80px;
    }
}
    
@media (max-width: 1375px) {
    .upgrades_item {
        margin-right: 165px;
    }
    
    .upgrade_image {
        width: 90px;
        height: 50px;
        display: flex;
        margin-right: 50px;
    }
    
    .upgrade_text {
        font-size: 13px;
    }
}

@media (max-width: 1157px) {
    .upgrades_item {
        margin-right: 190px;
    }
    
    .upgrade_image {
        width: 60px;
        height: 35px;
        position: absolute;
        left: 30%;
        bottom: 90%;
        background-color: rgb(180, 39, 39);
        border-radius: 130%;
    }
}

@media (max-width: 1089px) {
    .upgrades_item {
        width: 80%;
        height: 25%;
        margin-right: 200px;
    }

    .upgrades {
        width: 70%;
    }

    .upgrade_image {
        width: 60px;
        height: 35px;
        position: absolute;
        left: 27%;
        bottom: 78%;
        background-color: rgb(180, 39, 39);
        border-radius: 130%;
    }

    .level_up {
        padding-top: 100px;
    }
}

@media (max-width: 952px) {
    .upgrades_item {
        width: 80%;
        height: 25%;
        margin-right: 270px;
    }

    .upgrades {
        width: 50%;
    }
}

@media (max-width: 932px) {
    .level_up {
        width: 545px;
        height: 500px;
        position: relative;
        left: 65%;
        bottom: 40%;
        display: flex;
        flex-direction: row;
    }
}
